.present-button {
   /* -fx-base: rgba(0, 128, 0, 0.1);*/
}

.present-button:selected {
    -fx-base: green;
}

.absent-button {
    /*-fx-base: rgba(255, 0, 0, 0.1);*/
}

.absent-button:selected {
    -fx-base: red;
}

/* .default-color8 does not work, that stops working at 7. */
.series8.chart-bar {
    -fx-bar-fill: darkolivegreen;
}

.padded-container {
    -fx-padding: 10;
}