.unknown-button:selected {
    -fx-base: cornflowerblue;
}

.present-button:selected {
    -fx-base: green;
}

.absent-button:selected {
    -fx-base: red;
}

/* .default-color8 does not work, that stops working at 7. */
.series8.chart-bar {
    -fx-bar-fill: darkolivegreen;
}